body {
    margin: 0;
}  
#header {
	background-color:black;
	width:100%;
	height:120px;
	position:fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header #logo {
	display: inline-block;
    height: 120px;
}